<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heian_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,162},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,196},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,33},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{26,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,193},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,95},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{26,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,65},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{26,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,32},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,64},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{26,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,130},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,96},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>heian_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,194},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,195},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,128},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,0},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,160},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,65},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,33},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,96},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,161},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,162},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>hero_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,129},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,33},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,66},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,129},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,33},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,162},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,64},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,99},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>huoshen_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,65},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,33},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,0},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{23,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,193},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,32},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,161},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,64},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,65},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,33},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kulou_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,97},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,129},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{30,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,165},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,195},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{30,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,65},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,32},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,97},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,129},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,194},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,97},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,99},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,66},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>niuwang_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,196},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,129},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,161},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,194},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,32},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,163},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{28,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,97},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,98},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,130},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{28,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,66},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,224},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,32},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shuishen_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,198},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{32,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,97},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,131},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{29,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,163},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,161},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>sishen_walk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,132},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>character.png</string>
			</dict>
		</dict>
</plist>