<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>building1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,14},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,98}</string>
			</dict>

			<key>building2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,14},{88,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{88,99}}</string>
				<key>sourceSize</key>
				<string>{92,100}</string>
			</dict>

			<key>building3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{88,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{88,99}}</string>
				<key>sourceSize</key>
				<string>{92,100}</string>
			</dict>

			<key>building4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,112},{77,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{77,97}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

			<key>fireBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,214},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{20,15}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>flower1.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,230},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>flower2.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,230},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>flower3.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,240},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>guideBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,40}}</string>
				<key>sourceSize</key>
				<string>{36,40}</string>
			</dict>

			<key>hpBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,13}}</string>
				<key>sourceSize</key>
				<string>{100,13}</string>
			</dict>

			<key>tree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,164},{39,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{39,69}}</string>
				<key>sourceSize</key>
				<string>{45,71}</string>
			</dict>

			<key>tree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,0},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{39,51}}</string>
				<key>sourceSize</key>
				<string>{45,53}</string>
			</dict>

			<key>tree3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,112},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{40,51}}</string>
				<key>sourceSize</key>
				<string>{45,53}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>